In [1]:
import pandas as pd

kernel_stats = pd.read_csv('data/libraries_by_python_version.csv')
kernel_stats
import matplotlib.pyplot as plt

plt.pie(kernel_stats[''], labels=kernel_stats['library'])

/var/folders/x1/yv_pjg2s0nz4_tpx97f503_r0000gn/T/ipykernel_2685/3234122353.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,library,kernel_python 3.4,kernel_python 3.5,kernel_python 3.6,kernel_python 3.7,kernel_python 3.8,total_count
0,numpy,57564,578800,2108495,1739315,87656,4571830
1,matplotlib,43181,438386,1625902,1385835,75148,3568452
2,pandas,36357,346667,1530252,1500068,72433,3485777
3,sklearn,14938,222672,912615,799426,34921,1984572
4,os,13200,176685,592084,436535,21914,1240418
5,seaborn,9578,105132,467280,513018,23289,1118297
6,scipy,12898,112992,402051,319311,14664,861916
7,time,8722,86455,294717,214953,10123,614970
8,tensorflow,4212,123837,269226,155622,5548,558445
9,random,5325,75455,260000,185925,8177,534882
10,math,6389,78262,245540,194693,8754,533638
11,sys,7784,73858,250441,158359,9379,499821
12,IPython,12886,81487,229599,152128,7994,484094
13,keras,2447,67837,243403,120632,2653,436972
14,datetime,5554,46305,190586,180519,10067,433031
15,re,5898,48267,191965,163205,7414,416749
16,warnings,3822,37276,180478,185290,6575,413441
17,collections,5433,57516,177266,116257,6051,362523
18,json,3662,41972,169014,132836,7443,354927
19,requests,2429,28801,147782,153160,8229,340401